body{
    background-color: rgb(29, 29, 29);
    color: white;
}

.navbar{
    opacity: 0.8;
}

#home{
    background: url('img/bg.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.home-inner{
    padding-top: 180px;
}

@media (max-width: 992px){
    .home-inner{
        padding: 20px;
        padding-top: 100px;
    }
}