
body{
    background-color: rgb(29, 29, 29);
    color: white;
}

.navbar{
    opacity: 0.8;
}

#home{
    background: url('img/bg.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
}

.home-inner{
    padding-top: 180px;
}

.img-info img{
    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.img-info .text-info{
    transform: translate(0px);
    transition: all 500ms ease-in-out;
    opacity: 0;
}

.img-info:hover img{
    transform: scale(0.8);
}

.img-info:hover .text-info{
    transform: translate(0px,-20px);
    opacity: 1;
}

@media (max-width: 992px){
    .home-inner{
        padding: 20px;
        padding-top: 100px;
    }
}

@media (max-width: 767px){
    .create-card{
        margin: 15px;
    }
}